body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  color: #283645;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.btn {
  display: inline-block;
  min-width: 280px;
  padding: 12px 0;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  border: 3px solid #fff;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.08s;
  transition: 0.08s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-tap-highlight-color: transparent;
}
.btn:hover {
  color: #d22856;
  background-color: #fff;
}
.btn:active {
  color: #f1becc;
}
.animation__smooth-menu {
  -webkit-animation-name: smooth-menu;
          animation-name: smooth-menu;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes smooth-menu {
  0% {
    -webkit-transform: translateY(-192px);
            transform: translateY(-192px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes smooth-menu {
  0% {
    -webkit-transform: translateY(-192px);
            transform: translateY(-192px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  70% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes itemsSecond {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes itemsSecond {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@-webkit-keyframes itemsThird {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes itemsThird {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.page-header__promo {
  position: relative;
  color: #fff;
  text-align: center;
  background-color: #1d2631;
  background-image: url(../../img/background-1@1x.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto 461px;
}
.page-header__promo::after {
  position: absolute;
  display: block;
  top: 175px;
  left: 50%;
  content: '';
  width: 258px;
  height: 286px;
  background-image: url('../../img/iphone-hand-1.png');
  background-size: 258px 286px;
  -webkit-transform: translateX(-60%);
      -ms-transform: translateX(-60%);
          transform: translateX(-60%);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 1.25dppx) {
  .page-header__promo {
    background-image: url(../../img/background-1@2x.jpg);
  }
  .page-header__promo::after {
    background-image: url(../../img/iphone-hand-1@2x.png);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx) {
  .page-header__promo {
    background-image: url(../../img/background-1@3x.jpg);
  }
  .page-header__promo::after {
    background-image: url(../../img/iphone-hand-1@3x.png);
  }
}
.page-header__promo-wrapper {
  width: 280px;
  padding-top: 488px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.page-header__title {
  display: none;
  margin-bottom: 35px;
}
.page-header__btn {
  margin-bottom: 30px;
}
.page-header__link {
  font-size: 0;
  margin-bottom: 30px;
}
.page-header__icon {
  margin: 0 15px;
}
.page-header__icon:hover {
  opacity: 0.4;
}
.page-header__dscr {
  margin: 0;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
}
@media (min-width: 700px) {
  .page-header__promo-wrapper {
    position: relative;
    width: 300px;
    padding-top: 210px;
    padding-right: 320px;
    text-align: center;
    z-index: 20;
  }
  .page-header__btn {
    width: 300px;
  }
  .page-header__title {
    display: block;
    padding: 0 30px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: lighter;
  }
  .page-header__dscr {
    padding: 0 10px;
  }
  .page-header__promo {
    min-height: 730px;
    background-image: url(../../img/background-2@1x.jpg);
    background-size: auto 728px;
    -webkit-animation: none;
            animation: none;
  }
  .page-header__promo::after {
    display: block;
    width: 700px;
    height: 545px;
    top: auto;
    left: auto;
    bottom: 0;
    right: 50%;
    background-image: url('../../img/iphone-hand-2@1x.png');
    background-size: 700px 545px;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (min-width: 700px) and only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 700px) and only screen and (min-device-pixel-ratio: 1.25), (min-width: 700px) and only screen and (min-resolution: 1.25dppx) {
  .page-header__promo {
    background-image: url(../../img/background-2@2x.jpg);
  }
  .page-header__promo::after {
    background-image: url(../../img/iphone-hand-2@2x.png);
  }
}
@media (min-width: 1200px) {
  .page-header__promo-wrapper {
    padding-top: 220px;
    padding-right: 640px;
  }
  .page-header__title {
    font-size: 50px;
    margin-bottom: 50px;
  }
  .page-header__btn {
    margin-bottom: 65px;
  }
  .page-header__link {
    margin-bottom: 55px;
  }
  .page-header__promo {
    min-height: 853px;
    background-image: url(../../img/background-fullsize.jpg);
    background-size: auto auto;
    background-position: center 78%;
  }
  .page-header__promo::after {
    display: block;
    width: 1045px;
    height: 645px;
    top: auto;
    left: auto;
    bottom: 0;
    right: 45%;
    background-image: url('../../img/iphone-hand-3@1x.png');
    background-size: 1045px 645px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }
}
@media (min-width: 1200px) and only screen and (-webkit-min-device-pixel-ratio: 1.25), (min-width: 1200px) and only screen and (min-device-pixel-ratio: 1.25), (min-width: 1200px) and only screen and (min-resolution: 1.25dppx) {
  .page-header__promo::after {
    background-image: url(../../img/iphone-hand-3@2x.png);
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  color: #fff;
  list-style: none;
}
@media (max-width: 1199px) {
  .main-nav__header {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding: 0 20px;
    width: 100%;
    min-height: 66px;
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid transparent;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 10;
  }
  .main-nav__toggle {
    height: 100%;
    fill: #fff;
    -webkit-transition: 0.06s;
    transition: 0.06s;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  .main-nav__toggle:hover {
    fill: #d22856;
  }
  .main-nav__toggle:active {
    opacity: 0.3;
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
  .main-nav__list {
    display: none;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
  .main-nav__item-link {
    display: block;
    padding: 15px 0;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #000;
    background-color: #283645;
    cursor: pointer;
  }
  .main-nav--nojs .main-nav__list {
    display: block;
  }
  .main-nav--nojs .main-nav__header {
    position: relative;
    background-color: #283645;
    border-color: rgba(0, 0, 0, 0.6);
  }
  .main-nav--opened .main-nav__list {
    display: block;
  }
  .main-nav--opened .main-nav__header {
    position: relative;
    background-color: #283645;
    border-color: rgba(0, 0, 0, 0.6);
  }
}
@media (max-width: 1199px) and (min-width: 700px) {
  .main-nav {
    position: absolute;
    width: 100%;
    z-index: 500;
  }
  .main-nav__header {
    padding: 0 40px;
    min-height: 110px;
  }
  .main-nav--opened .main-nav__list {
    -webkit-animation-name: smooth-menu;
            animation-name: smooth-menu;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
}
@media (min-width: 1200px) {
  .main-nav__toggle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .main-nav {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
  }
  .main-nav__wrapper {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 110px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-nav__header {
    margin-top: 26px;
    margin-bottom: auto;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
  }
  .main-nav__item-link {
    display: block;
    padding: 5px 0;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    -webkit-transition: 0.08s;
    transition: 0.08s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .main-nav__item-link:hover {
    color: #d22856;
    border-color: #d22856;
  }
  .main-nav__item-link[href]:hover {
    color: #fff;
    border-color: white;
  }
  .main-nav__item-link[href]:active,
  .main-nav__item-link:active {
    color: #fff;
    opacity: 0.3;
    border: none;
    -webkit-transition: none;
    transition: none;
  }
}
@media (min-width: 1200px) and (min-width: 700px) {
  .main-nav__wrapper {
    width: 89%;
    /* 620px / 700px = 88%  */
    max-width: 940px;
    /* 940px / 0.88 = 1068px */
    margin: 0 auto;
  }
}
.feautures {
  padding: 0 20px;
  padding-top: 40px;
  background-image: -webkit-linear-gradient(275deg, white 250px, #f2f2f2 250px);
  background-image: linear-gradient(175deg, white 250px, #f2f2f2 250px);
}
.features__wrapper {
  width: auto;
}
@media (min-width: 700px) {
  .features__wrapper {
    width: 89%;
    /* 620px / 700px = 88%  */
    max-width: 940px;
    /* 940px / 0.88 = 1068px */
    margin: 0 auto;
  }
}
.features__title {
  display: block;
  margin-bottom: 30px;
  font-weight: lighter;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}
.features__list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 80px;
  padding-bottom: 290px;
  list-style: none;
}
.features__list::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 158px;
  height: 278px;
  background-image: url(../../img/iphone-case-1@1x.png);
  background-size: 158px 278px;
}
.features__items {
  margin-bottom: 30px;
  text-align: center;
}
.features__items::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 142px;
  height: 251px;
  background-size: 142px 251px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.items--first::after {
  background-image: url(../../img/iphone-screen-1-1@1x.png);
}
.items--second::after {
  -webkit-animation-name: itemsSecond;
          animation-name: itemsSecond;
  background-image: url(../../img/iphone-screen-1-2@1x.png);
}
.items--third::after {
  -webkit-animation-name: itemsThird;
          animation-name: itemsThird;
  background-image: url(../../img/iphone-screen-1-3@1x.png);
}
.features__items-title {
  font-size: 18px;
  color: #000;
}
@media (min-width: 700px) {
  .feautures {
    padding: 0;
    padding-top: 50px;
    background-image: -webkit-linear-gradient(275deg, white 37%, #f2f2f2 37%);
    background-image: linear-gradient(175deg, white 37%, #f2f2f2 37%);
  }
  .features__title {
    font-size: 40px;
    margin-bottom: 0;
  }
  .features__title:first-child br {
    display: none;
  }
  .features__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0;
    padding-top: 120px;
    padding-left: 310px;
    min-height: -webkit-calc(415px);
    min-height: calc(415px);
  }
  .features__list::before {
    display: none;
    background-image: none;
  }
  .features__items {
    text-align: left;
    margin: 0;
  }
  .features__items::after {
    left: 0;
    bottom: 0;
    width: 268px;
    height: 481px;
    background-size: 268px 481px;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .items--first::after {
    background-image: url(../../img/iphone-screen-2-1@1x.png);
  }
  .items--second::after {
    -webkit-animation-name: itemsSecond;
            animation-name: itemsSecond;
    background-image: url(../../img/iphone-screen-2-2@1x.png);
  }
  .items--third::after {
    -webkit-animation-name: itemsThird;
            animation-name: itemsThird;
    background-image: url(../../img/iphone-screen-2-3@1x.png);
  }
}
@media (min-width: 1200px) {
  .feautures {
    padding-top: 70px;
    background-image: -webkit-linear-gradient(275deg, white 42%, #f2f2f2 42%);
    background-image: linear-gradient(175deg, white 42%, #f2f2f2 42%);
  }
  .features__title {
    font-size: 50px;
  }
  .features__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    padding: 0;
    padding-top: 75px;
    min-height: -webkit-calc(415px);
    min-height: calc(415px);
  }
  .features__items {
    position: relative;
    padding-top: 350px;
    text-align: center;
    -webkit-flex-basis: 25.5%;
        -ms-flex-preferred-size: 25.5%;
            flex-basis: 25.5%;
  }
  .features__items::after {
    width: 292px;
    height: 302px;
    background-size: 292px 302px;
    top: 0;
    left: 50%;
    -webkit-animation: none;
            animation: none;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .items--first::after {
    background-image: url(../../img/iphone-screen-3-1@1x.png);
  }
  .items--second::after {
    -webkit-animation-name: itemsSecond;
            animation-name: itemsSecond;
    background-image: url(../../img/iphone-screen-3-2@1x.png);
  }
  .items--third::after {
    -webkit-animation-name: itemsThird;
            animation-name: itemsThird;
    background-image: url(../../img/iphone-screen-3-3@1x.png);
  }
  .features__items-title {
    font-size: 30px;
    line-height: 1;
  }
  .features__items-dscr {
    font-size: 18px;
    line-height: 30px;
  }
}
.research {
  display: none;
}
@media (min-width: 700px) {
  .research {
    display: block;
  }
  .research__wrapper {
    width: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 58px 0 67px;
  }
  .research__icon-timer {
    position: relative;
    display: block;
    -webkit-flex-basis: 298px;
        -ms-flex-preferred-size: 298px;
            flex-basis: 298px;
    margin-right: 70px;
  }
  .research__icon-timer::after {
    content: '24';
    position: absolute;
    top: 64px;
    left: 50%;
    width: 165px;
    height: 165px;
    color: #d22856;
    font-size: 96px;
    line-height: 149px;
    font-weight: bold;
    text-align: center;
    border: 12px solid #d22856;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .research__icon-timer svg {
    width: 240px;
    height: 277px;
  }
  .research__icon-timer use {
    fill: #dedede;
  }
  .research__dscr-title {
    font-size: 30px;
    line-height: 36px;
    color: #000;
  }
  .research__dscr-link {
    color: #d22856;
  }
  .research__dscr-link:hover {
    color: #283645;
    text-decoration: none;
  }
  .research__dscr-link:active {
    opacity: 0.5;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .research__wrapper {
    width: 89%;
    /* 620px / 700px = 88%  */
    max-width: 940px;
    /* 940px / 0.88 = 1068px */
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .research {
    background-color: #f2f2f2;
  }
  .research__wrapper {
    padding-top: 50px;
  }
  .research__icon-timer {
    position: relative;
    display: block;
    -webkit-flex-basis: 298px;
        -ms-flex-preferred-size: 298px;
            flex-basis: 298px;
    margin-right: 70px;
  }
  .research__icon-timer::after {
    top: 80px;
    left: 50%;
    width: 200px;
    height: 200px;
    font-size: 120px;
    line-height: 186px;
    border: 18px solid #d22856;
  }
  .research__icon-timer svg {
    width: 298px;
    height: 345px;
  }
  .research__dscr-title br {
    display: none;
  }
}
.review {
  padding: 0 20px;
}
.review__wrapper {
  position: relative;
  width: auto;
}
@media (min-width: 700px) {
  .review__wrapper {
    width: 89%;
    /* 620px / 700px = 88%  */
    max-width: 940px;
    /* 940px / 0.88 = 1068px */
    margin: 0 auto;
  }
}
.review__slider [type="radio"] {
  display: none;
}
.review__slider-inner {
  overflow: hidden;
}
.review__slides {
  width: 300%;
}
.review__slides-slide {
  width: 33.3%;
  float: left;
  text-align: center;
}
.review__slider-controls label {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #bec2c7;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border: 8px solid transparent;
  cursor: pointer;
}
#btn-1:checked ~ .review__slider-controls label[for="btn-1"],
#btn-2:checked ~ .review__slider-controls label[for="btn-2"],
#btn-3:checked ~ .review__slider-controls label[for="btn-3"] {
  background-color: white;
  border-color: #283645;
}
#btn-1:checked ~ .review__slider-inner .review__slides {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1s;
  transition: 1s;
}
#btn-2:checked ~ .review__slider-inner .review__slides {
  -webkit-transform: translateX(-33.3%);
      -ms-transform: translateX(-33.3%);
          transform: translateX(-33.3%);
  -webkit-transition: 1s;
  transition: 1s;
}
#btn-3:checked ~ .review__slider-inner .review__slides {
  -webkit-transform: translateX(-66.6%);
      -ms-transform: translateX(-66.6%);
          transform: translateX(-66.6%);
  -webkit-transition: 1s;
  transition: 1s;
}
.review__slider input:last-of-type:checked ~ .toggle--right {
  opacity: 0.1;
}
.review__slider input:first-of-type:checked ~ .toggle--left {
  opacity: 0.1;
}
.review__slider-toggle {
  display: none;
}
.review__slides-title-dscr {
  display: none;
}
.review__slides-title {
  font-size: 18px;
  line-height: 30px;
}
.review__slider-controls {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
