.animation__smooth-menu {
  animation-name: smooth-menu;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

@keyframes smooth-menu {
  0% {
    transform: translateY(-192px);
  }
  50% {
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
